exportPattern(fn_GetMergeFreqWithColor)
exportPattern(print_isobar)
exportPattern(TermDocumentMatrix_classes)
exportPattern(TermDocumentMatrixCN)
exportPattern(termFreqCN)
exportPattern(wordsCN)
